.header__logo {
    display: block;
    width: 142px;
    height: 33px;
    margin: 41px 0 45px;
    text-decoration: none;
    background-image: url(../../../images/header__logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity linear .4s;

}

.header__logo:hover {
    opacity: .5;
} 


@media screen and (max-width: 880px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 103px;
        height: 25px;
        margin: 28px 27px 31.6px;
        
    }
}