.profile__activity {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    max-width: calc(525px - 18px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 882px) {
    .profile__activity {
        max-width: 400px;
    }
}

@media screen and (max-width: 830px) {
    .profile__activity {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .profile__activity {
        max-width: 320px;
    }
}

@media screen and (max-width: 400px) {
    .profile__activity {
        max-width: 230px;
        font-size: 14px;
        line-height: 17px;
    }
}