.profile__button-edit {
    width: 24px;
    height: 24px;
    padding: 0;
    margin-bottom: 10px;
    background: transparent;
    background-image: url(../../../images/Edit__Button.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    border: 1px solid #fff;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    transition: opacity linear .5s;
}

.profile__button-edit:hover {
    opacity: .6;
}


@media screen and (max-width: 400px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
        margin-bottom: 5px;
    }
}