.element__delete-btn {
    width: 18px;
    height: 19px;
    border: none;
    background: transparent url(../../../images/Trash.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity linear .4s;
}

.element__delete-btn:hover {
    opacity: 0.6;
}