.popup__close-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background: transparent url(../../../images/close-btn__icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    transition: opacity linear .4s;
}

.popup__close-btn:hover {
    opacity: .6;
}

@media screen and (max-width:540px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}